
.mainArea{
    width: 100%;
    height: 100%;
    padding: 80px;
    overflow-y: auto;
}

.newLearningSeries{
    margin-top: 50px;
}

.head{
    font-size: x-large;
    padding: 40px 20px 8px 20px;
}

.horizontalGallery{
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.horizontalGallery::-webkit-scrollbar{
    display: none;
}

.shortsSeriesContainer{
    min-width: 227px;
    width: 227px;
}

.seriesContainer{
    min-width: 350px;
    width: 350px !important;
}

.seriesContainer , .shortsSeriesContainer{
    margin: 12px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--backgroundElevated);
    display: block;
}

.seriesContainer:hover{
    background-color: var(--backgroundElevated);
}

.imageShortsContainer{
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 400px;
    background-color: rgb(255, 232, 27); 
}

.imageSeriesContainer{
    display: block;
    width: 100%;
    border-radius: 4px;
    height: 204px;
    background-color: rgb(255, 232, 27); 
}

.seriesStats{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    opacity: 0.7;
}

.seriesStats:hover{
    opacity: 1;
}

.playtimeStats , .viewStats{
    display: flex;
    cursor: pointer;
    align-items: center;
}

.playtimeStats img{
    width: 14px;
}

.playtimeStats span , .viewStats span{
    margin-left: 5px;
    font-size: small;
}

.statsIconDark{
    filter: invert(100%);
}

.seriesHead{
    font-size: larger;
    padding: 4px 16px 10px 14px;
    opacity: 0.8;
}

.seriesShortsHead{
    font-size: small;
    padding: 10px 10px 10px 4px;
    opacity: 0.8;
}

.seriesHead:hover{
    opacity: 1;
}

.seriesInfo{
    padding: 4px 16px 20px 16px;
    font-size: small;
    opacity: 0.7;
}