
.mainArea{
    width: 100%;
    height: 100%;
    padding: 80px;
    overflow-y: auto;
}

.newLearningSeries{
    margin-top: 50px;
}

.head{
    font-size: x-large;
    padding: 40px 20px 8px 20px;
}

.horizontalGallery{
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.horizontalGallery::-webkit-scrollbar{
    display: none;
}

