.heroAndSupporter{
    border-radius: 8px;
    overflow: hidden;
}

.hero{
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--linear-primary);
    color: #ffffff88;
}

.hero_msg{
    padding-top: 70px;
    font-size: 60px;
}

.hero_tags{
    padding-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
}

.supporter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--backgroundElevated);
    padding: 12px;
    /* opacity: 0.5; */
}
.supporterThanks{
    cursor: default;
    padding-left: 40px;
}

.supporterThanks , .supporterNames{
    background: var(--linear-primary-text);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.supporterNames{
    padding-right: 40px;
}
.supporterNames span{
    cursor: default;
    margin: 4px;
}

.supporterNames span:hover{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--linear-primary-color);
}

.coffeeimg{
    margin-right: 16px;
    margin-top: -24px;
    cursor: pointer;
    transition: all 0.2s;
    border: 0.5px solid var(--backgroundElevated);
    border-radius: 8px;
}

.coffeeimg:hover{
    transform: scale(1.04);
}