@font-face {
  font-family: poppins;
  src: url('../media/font/Poppins-Regular.ttf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: poppins;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
    --background:#111111;
    --backgroundElevated:#181818;
    --buttonBackground: #ffffff;
    --linear-primary: linear-gradient(180deg, #705FD5 0%, #38B6B6 100%);
    --linear-primary-text: linear-gradient(90deg, #705FD5 0%, #38B6B6 100%);
    --linear-primary-color: #38B6B6;
}

html {
    color-scheme: dark;
}

body {
    color: white;
    background: var(--background);
}


